.user {
    padding: 1rem;
    border-bottom: 1px solid #e4e4e460;
    display: flex;
    justify-content: space-between;

}


.user:hover {
    background-color: #0b9fd95b;
    border: none;
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
} 

a {
    text-decoration: none;
    color: #BF2C8C !important;
}

.box {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #000;
}

.msg {
    flex: 0.95;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    align-items: left;
}

.msg p {
    font-size: 0.7em;
    display: block;
    white-space: nowrap;
    color: #BF2C8C;
    line-height: 0.0006mm;
    text-transform: capitalize;
    letter-spacing: 0.7px
}