.sidebar {
  height: 100%;
  flex: 0.30;
  flex-direction: column;
  box-shadow: 7px 0px 6px 2px rgba(0, 0, 0, 0.2) ;
  position: relative;
  z-index: 5;
  background-color: #0b9fd969;
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
}

.sidebar-header {
    display: flex;
    padding: 1rem;
    /* background-color: #6edf7c; */
    align-items: center;
    /* text-transform: capitalize; */
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid #ededed;
}


.sidebar-users::-webkit-scrollbar {
    display: none;
}


.user {
    max-width: 90%;
}

.user p {
    font-size: 0.6em;
    color: #BF2C8C;
    /* text-transform: uppercase; */
    text-align: center;
    margin-top:10px;
    letter-spacing: 1px;
    font-style: italic;
}



.sidebar-users {
    /* background-color:#6edf7c; */
    max-height:  75vh;
    height:  75vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}